<footer class="page-footer font-small">
    <div class="footer-copyright ml-3 py-3">
        © {{ year }} Copyright: All rights reserved | Developed by <span class="bold">J<sup>3</sup>T</span> <br />
    </div>
</footer>