<h2 class="title mt-5">Role Management</h2>
<div>
    <button class="btn btn-primary border-0 rounded-0 p-0 align-right mb-3" (click)="openModal()">
        <i class="fa fa-plus align-middle" aria-hidden="true"></i>
        <span class="align-middle">Asignar Rol</span>
    </button>
</div>
<div>
    <table class="table table-hover align-center">
        <thead>
            <tr class="dark-rows">
                <th scope="col">Switch ID</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active light-rows" *ngFor="let role of roles">
                <td scope="row">{{role.id}}</td>
                <td><span class="badge badge-info role-value">{{role.value}}</span></td>
            </tr>
        </tbody>
    </table>
</div>
<app-assign-role-dialog #assignRoleModal [roles]="rolesOptions" (onClosed)="onClosed($event)" (onSaved)="onSaved($event)"></app-assign-role-dialog>