<h2 class="title mt-5">VLANs Management</h2>
<div>
    <button class="btn btn-primary border-0 rounded-0 p-0 align-right mb-3" (click)="openModal()">
        <i class="fa fa-plus align-middle" aria-hidden="true"></i>
        <span class="align-middle">Crear VLAN</span>
    </button>
</div>
<div>
    <table class="table align-center">
        <thead>
            <tr class="dark-rows">
                <th scope="col" colspan="3" class="align-header-center">VLANs</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vlan of vlans; let i = index">
                <table class="table align-center">
                    <tr class="table-active light-rows">
                        <td scope="row" class="">
                            <i [@openClose]="vlan.arrowState" class="fa fa-chevron-right fa-2x align-left cursor-pointer animate" (click)="toggleRowDetails(i)" aria-hidden="true"></i>
                        </td>
                        <td scope="row" class="align-header-center"><span>VLAN {{vlan.vlan}}</span></td>
                        <td scope="row">
                            <div class="float-right">
                                <a (click)="deleteVlans(vlan.vlan)" class="inline-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar VLAN"><i class="fa fa-trash cursor-pointer"></i></a>
                            </div>
                            <div class="float-right">
                                <a (click)="openModal(vlan)" class="inline-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Actualizar VLAN"><i class="fa fa-pencil cursor-pointer"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="vlan.displayDetails" [@showHide]="vlan.state">
                        <td colspan="3">
                            <thead scope="col" class="align-header-center sub-table-header">
                                <th>Switch ID</th>
                                <th>Ports</th>
                            </thead>
                            <tbody class="sub-table-body">
                                <tr *ngFor="let switch of vlan.switches">
                                    <td>{{switch.dpid}}</td>
                                    <td>
                                        <span class="badge badge-info port-value" *ngFor="let port of switch.ports">{{port}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </td>
                    </tr>
                </table>
            </tr>
        </tbody>
    </table>
</div>
<app-add-vlan-dialog #addVlanModal (onClosed)="onClosed($event)" (onSaved)="onSaved($event)"></app-add-vlan-dialog >