.side-bar {
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: #72bb53;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.nav-link {
    color: white !important;
}

.nav-item.active {
    background-color: white;
}

.nav-item.active .nav-link {
    color: #72bb53 !important;
}

.icon {
    display: inline;
}

.toggle {
    width: 65px;
}

.title-show {
    display: inline;
}

.title-hide {
    display: none;
}