<div class="side-bar" [ngClass]="{ 'toggle': toggle }">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link mt-3 mb-3 ml-3" [routerLink]="['/roles']">
                <i class="fa-lg mr-2 icon fa fa-id-card-o"></i>
                <span [ngClass]="{'title-show': !toggle, 'title-hide': toggle}">Roles</span>
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link mt-3 mb-3 ml-3" [routerLink]="['/vlans']">
                <i class="fa-lg mr-2 icon fa fa-server"></i>
                <span [ngClass]="{'title-show': !toggle, 'title-hide': toggle}">VLANs</span>
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link mt-3 mb-3 ml-3" [routerLink]="['/logs']">
                <i class="fa-lg mr-2 icon fa fa-file-text-o"></i>
                <span [ngClass]="{'title-show': !toggle, 'title-hide': toggle}">Logs</span>
            </a>
        </li>
    </ul>
</div>