.label-section {
    font-weight: bold;
}

.add-plus-success {
    color: #42A948;
    cursor: pointer;
}

.remove-row {
    color:red;
    cursor: pointer;
}

.switch-vlan {
    margin-top: 15px;
}

:ng-deep .vlans-ports-input {
    width: 60px;
    border-bottom: none;
    background-color: red;
}