<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title assign-role-modal-title" id="modal-basic-title">{{action}} VLAN</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #vlanForm="ngForm">
            <fieldset>
                <div class="form-group">
                    <div>
                        <label class="label-section">Información de VLAN</label>
                    </div>
                    <div class="mr-5 ml-3">
                        <label for="vlanNumber">VLAN Number</label>
                        <input type="text" name="vlanNumber" required autocomplete="off" class="form-control"
                            id="vlanNumber" placeholder="400" [(ngModel)]="vlanNumber" #vlan="ngModel">
                        <div [hidden]="vlan.valid || vlan.untouched" class="form-error">
                            VLAN Number es requerido
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="mt-5">
                        <label class="label-section">Switches y Puertos</label>
                        <a (click)="addSwitch()" class="inline-btn float-right" data-toggle="tooltip"
                            data-placement="top" title="" data-original-title="Eliminar VLAN"><i
                                class="fa fa-plus-circle add-plus-success"></i></a>
                    </div>
                    <hr>
                    <div class="row ml-3" *ngFor="let switch of switchesAndPorts; let i = index;">
                        <div class="form-group col-md-4 col-sm-4">
                            <label for="switchId">Switch Id</label>
                            <input type="text" name="switchId{{i}}" required autocomplete="off"
                                class="form-control switch-vlan" id="switchId{{i}}" placeholder="400"
                                [(ngModel)]="switch.dpid" #switchVal="ngModel">
                            <div [hidden]="switchVal.valid || switchVal.untouched" class="form-error">
                                Switch ID es requerido
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="puertos">Puertos</label>
                            <tag-input [(ngModel)]="switch.ports" name="ports{{i}}" required #ports="ngModel"
                                [inputClass]="'vlans-ports-input'"></tag-input>
                            <div [hidden]="ports.valid || ports.untouched" class="form-error">
                                Los Puertos son requeridos
                            </div>
                        </div>
                        <a (click)="removeSwitch(i)" class="inline-btn float-right" data-toggle="tooltip"
                            data-placement="top" title="" data-original-title="Remove"><i
                                class="fa fa-minus-circle remove-row"></i></a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-cancel" (click)="modal.dismiss('Cancel')">CANCELAR</button>
        <button type="submit" class="btn btn-success" (click)="modal.close()"
            [disabled]="!vlanForm.form.valid">{{saveLabel}}</button>
    </div>
</ng-template>