<nav class="navbar navbar-expand-lg slim-bar navbar-light bg-light">
    <i class="fa fa-bars menu-toggle fa-2x" aria-hidden="true" (click)="toggleSideBar()"></i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <div class="m-auto">
            <h2 class="title">SDN App</h2>
        </div>
        <div>
            <i class="fa fa-user-circle-o fa-lg user-img" aria-hidden="true"></i>
            <label class="mr-5 user-name">Admin</label>
            <i class="fa fa-angle-down fa-lg success"></i>
        </div>
    </div>
</nav>

<app-container [toggle]="toggle"></app-container>