.slim-bar {
    height: 47px;
    background-color: white !important;
}

.title {
    color: #72bb53;
}

.user-name {
    color: #72bb53;
}

.user-img {
    margin-right: 5px;
    color: #72bb53;
}

.menu-toggle {
    cursor: pointer;
    color: #72bb53;
}

.success {
    color: #72bb53;
}

.navbar {
    box-shadow: none;
}