<h2 class="title mt-5">Logs</h2>
<div>
    <table class="table align-center">
        <thead>
            <tr class="dark-rows">
                <th scope="col" class="align-header-center"></th>
                <th scope="col" class="align-header-center">Date & Time</th>
                <th scope="col" class="align-header-center">By</th>
                <th scope="col" class="align-header-center">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let log of logs; let i = index">
                <td colspan="4">
                    <table class="table align-center">
                        <tr class="table-active light-rows">
                            <td scope="row" class="">
                                <i [@openClose]="log.arrowState"
                                    class="fa fa-chevron-right fa-2x align-left cursor-pointer animate"
                                    (click)="toggleRowDetails(i)" aria-hidden="true"></i>
                            </td>
                            <td scope="row" class="align-header-center"><span>{{log.date}}</span></td>
                            <td scope="row" class="align-header-center"><span>{{log.createdBy}}</span></td>
                            <td scope="row"><span>{{log.description}}</span></td>
                        </tr>
                        <tr *ngIf="log.displayDetails" [@showHide]="log.state">
                            <td colspan="4">
                                <thead scope="col" class="align-header-center sub-table-header">
                                    <th>Data Sent</th>
                                    <th>API Route</th>
                                </thead>
                                <tbody class="sub-table-body">
                                    <tr>
                                        <td>{{log.dataSent}}</td>
                                        <td>
                                            {{log.apiRoute}}
                                        </td>
                                    </tr>
                                </tbody>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
