.ng-valid[required], .ng-valid.required  {
    border-bottom: 2px solid #42A948; /* green */
}
  
.ng-invalid.ng-touched:not(form)  {
    border-bottom: 2px solid red; /* red */
}

input[type="text"].form-control {
    height: 0;
}

.form-error {
    color:red;
}

.align-right {
    float: right;
}

.btn-primary {
    background: #e0e0e0 linear-gradient(180deg, #e0e0e0 , #e0e0e0 ) repeat-x;
    font-size: 10px;
    font-weight: bold;
    border-radius: 35px !important;
}

.btn-primary:hover {
    background-color: darkgray;
}

.btn-primary span {
    padding-left: 25px;
    padding-right: 25px;
    color: #212121;
    font-size: 14px;
}

.btn-primary i {
    font-size: 20px;
    background-color: #ff6624;
    padding: 15px 20px;
    border-radius: 35px !important;
}

.inline-btn {
    font-size: 25px;
    margin-right: 10px;
    color: #ff6624;
}

.align-left {
    float: left;
}

.title {
    color: #ff6624;
}
