.light-rows td,
th {
    background-color: white;
}

.dark-rows th {
    background-color: #232323;
    color: white;
}

.align-header-center {
    text-align: center;
    font-size: 16px;
}

.float-right {
    float: right;
}

table {
    width: 100%;
}

td {
    width: 25%;
}

.sub-table-header {
    width: 100%;
    display: inline-table;
}

.sub-table-body {
    width: 100%;
    display: inline-table;
    text-align: center;
}