.container {
    padding-right: 60px;
    padding-left: 60px;
    margin-left: 65px;
    position: absolute;
    max-width: -webkit-fill-available;
    margin-right: 0 !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-bottom: 10%;
}

.side-bar-opened {
    margin-left: 250px !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}