.assign-role-modal-title {
    color: #72bb53;
    margin: 0;
    margin-left: auto;
}

.modal-footer {
    border-top: 2px solid #ff6624 !important;
}

.btn-success {
    color: white !important;
}

.btn-cancel {
    color: #72bb53;
}

.btn {
    box-shadow: none !important;
}