<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title assign-role-modal-title" id="modal-basic-title">Asignar Rol</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <h4 class="label-section">Switches y Roles</h4>
            <a (click)="addSwitch()" class="inline-btn float-right" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Add Switch"><i class="fa fa-plus-circle add-plus-success"></i></a>
        </div>
        <div>
            <form #roleForm="ngForm">
                <div *ngFor="let assigned of closeResult; let i = index;">
                    <h5>Asignación #{{i + 1}}</h5>
                    <div class="form-group ml-5 mr-5">
                        <h6>Switch ID</h6>
                        <input type="text" name="switchId{{i}}" required autocomplete="off" class="form-control"
                            id="switchId{{i}}" placeholder="Switch Id" [(ngModel)]="assigned.switchId" #switch="ngModel">
                        <div [hidden]="switch.valid || switch.untouched" class="form-error">
                            Switch ID es requerido
                        </div>
                    </div>
                    <div>
                        <a (click)="removeSwitch(i)" class="inline-btn float-right" data-toggle="tooltip"
                            data-placement="top" title="" data-original-title="Remove"><i
                                class="fa fa-minus-circle remove-row"></i></a>
                    </div>
                    <div class="form-group ml-5 mr-5">
                        <h6>Role</h6>
                        <div class="custom-control custom-radio custom-control-inline"
                            *ngFor="let role of roles; let rindex = index;">

                            <input type="radio" required id="customRadio{{rindex}}{{i}}" name="customRadio{{i}}"
                                class="custom-control-input" [(ngModel)]="assigned.role" [value]="role">
                            <label class="custom-control-label" for="customRadio{{rindex}}{{i}}">{{role}}</label>

                        </div>
                    </div>
                    <hr>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-cancel" (click)="modal.dismiss('Cancel')">CANCELAR</button>
        <button type="submit" class="btn btn-success" (click)="modal.close('Saved')"
            [disabled]="!roleForm.form.valid">GUARDAR</button>
    </div>
</ng-template>